@page "/customer/{CustomerId:int}"
@using FlocityClothingStore.Shared.Models.Customer
@inject HttpClient http

<h3>Customer #@CustomerId</h3>
@if(Customer !=null)
{
    <div class="container">
        <div class"card">
            <div class="card-header d-flex justify-content-between">
                <span>Customer #@CustomerId</span>
                <span class"text-muted"><strong>@Customer.FullName</strong></span>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class"text-muted"><strong>@Customer.Email</strong></span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/customer/edit/{CustomerId}") class="btn btn-outline-danger">Edit</a>
                <a href=@($"/customer/delete/{CustomerId}") class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}


@code {
    [Parameter]
    public int CustomerId { get; set; }
    public CustomerDetail Customer { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Customer = await http.GetFromJsonAsync<CustomerDetail>($"/api/customer/{CustomerId}");
    }

}
