@page "/cart/delete/{CartId:int}"
@using FlocityClothingStore.Shared.Models.Cart
@inject HttpClient http
@inject NavigationManager navigation

<h3>Cart #@CartId</h3>
@if (Message != null)
{
    <h2 class="text-danger">@Message</h2>
}
@if (Cart != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Cart #@Cart.Id</span>
                <span>Cart #@Cart.CustomerId</span>
                <span class="text-muted"><strong>@Cart.CustomerId</strong></span>
            </div>
         </div>
        <div class="d-flex justify-content mt-3">
            <div class="text-center justify-content-between w-50">
                <a href=@($"/cart/edit/{CartId}") class="btn btn-outline-primary">Back to Index</a>
                <a href="#" @onclick="HandleClick" class="btn btn-danger text-white">Delete Cart!</a>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int CartId { get; set; }
    public CartDetail Cart { get; set; }
    public string Message { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Cart = await http.GetFromJsonAsync<CartDetail>($"/api/cart/{CartId}");
    }
    private async void HandleClick()
    {
        //call a Delete request on our API
        var deleteRes = await http.DeleteAsync($"/api/cart/{CartId}");

        //check to make sure the call was successul
        //if successful, naviage back to the Index.razor component
        if (deleteRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/cart");
        }
        //if it was not successful, give the user an error message
        else
        {
            Message = "Failed to delete your information.";
        }
    }
}
